
<body>


<div class = "container">
  <h1>GEHMS</h1>
  <div id="home-container">
    <!-- <%= image_tag( ("monster.png"), :class => 'monster' ) %> -->
      <nav class ="the-grid">
        <div class="border_snake"></div>
        <div class="border_pong"></div>
        <div class="border_space"></div>
        <div class="ship"></div>
        <div class="snake-home nav" id="snake-nav"><%= link_to 'Snaak', snaak_path %></div>
        <div class="pong-home nav" id="pong-nav"><%= link_to 'Ping', ping_path %></div>
        <div class="space-home nav" id="space-nav"><%= link_to 'Roids', roids_path %></div>
        <div class="controller"></div>
        <div class="controller1"></div>
        <div class="controller2"></div>
        <div class="controller3"></div>
        <div class="controller4"></div>
        <div class="controller5"></div>
        <div class="monster"></div>
      </nav>
  </div>

</div>
</body>
