<div class="space-container">

  <h1>ROIDS</h1>

    <nav>
        <%= link_to image_tag("rocket.png"), home_path, :class => "home-button"%>%>
    </nav>

  <div id="space_shooter"></div>

  <div class="high-scores">
    <h1>Best Score: <%= @score %></h1>
  </div>


</div>
