@import url('https://fonts.googleapis.com/css?family=Orbitron:700'); //pong
// font-family: 'Orbitron', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Bungee+Inline'); //space
// font-family: 'Bungee Inline', cursive;

@import url('https://fonts.googleapis.com/css?family=Audiowide'); //snaak
// font-family: 'Audiowide', cursive



@mixin screen{
  border: 3px solid black;
  border-radius: 1em;
  z-index:1;
  box-shadow: 0 0 10px black;
  font-size: 23px;
  text-align: center;
}

@mixin controllerRed{
  background-color: red;
  z-index: 1;
  border-radius:50%;
  transform:scale(0.3,0.3);
  box-shadow: 0 0 10px black;
  border:3px solid black;
}

@mixin controllerWhite{
  background-color: white;
  z-index: 1;
  border-radius:50%;
  transform:scale(0.3,0.3);
  box-shadow: 0 0 10px black;
  border:3px solid black;
}

body{
  background-image: image-url("retro-wallpaper-offset.jpg");
  background-size: cover;
}

.container{
  width: 960px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}

.container h1{
  font-family:'Bungee Inline', cursive;
  text-transform: uppercase;
  text-align: center;
  margin-top: 50px;
  font-size: 60px;
  color: black;
  animation-name: gehms;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes gehms {
    0%   {color: black;}
    25%  {color: blue;}
    50%  {color: red;}
    100% {color: yellow;}
}

// #home-container {
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr;
//   grid-template-rows: 1fr;
// }

// .monster {
//   grid-column: 1/2;
//   grid-row: 1/2;
//   z-index: 1;
// }

.the-grid{
  display: grid;
  grid-template-rows: repeat(5, 100px);
  // grid-column: 1/4;
  // grid-row: 1/2;
}



.snake-home {
  grid-column: 3/11;
  grid-row: 3/5;
  background: linear-gradient(to bottom right, #404040, white);
  transform-origin: top left;
  transform: skew(-3deg,0deg);
  font-family: 'Audiowide', cursive;
  font-size: 21px;
  padding-top: 6px;
  @include screen;
}

.snake-home a {
  z-index: 4;
}

.border_snake{
  grid-column: 1/13;
  grid-row: 2/6;
  background-color: #1ccc1a;
  transform-origin: top left;
  transform: skew(-3deg, 0deg);
  box-shadow: 0 0 10px black;
  border-top-left-radius: 4em;
}
.pong-home{
  grid-column: 16/24;
  grid-row: 3/5;
  background: linear-gradient(to bottom right, #404040, white);
  font-family: 'Orbitron', sans-serif;
  padding: 10px;
  @include screen;
}

.border_pong{
  grid-column: 14/27;
  grid-row: 2/6;
  background-color: #fff337;
  box-shadow: 0 0 10px black;
}

.space-home{
  grid-column: 30/38;
  grid-row: 3/5;
  background: linear-gradient(to bottom right, #404040, white);
  transform-origin: top right;
  transform: skew(3deg,0deg);
  // font-family: 'Bungee Inline', cursive;
  font-family: 'Orbitron', cursive;
  padding-top: 10px;
  @include screen;
}

.border_space{
  grid-column: 28/40;
  grid-row: 2/6;
  background-color: #4361b2;
  transform-origin: top right;
  transform: skew(3deg, 0deg);
  box-shadow: 0 0 10px black;
  border-top-right-radius: 4em;
}

.controller{
  grid-column: 35/40;
  grid-row: 5/6;
  @include controllerRed;
}

.controller1{
  grid-column: 21/26;
  grid-row: 5/6;
  @include controllerRed;
}

.controller2{
  grid-column: 7/12;
  grid-row: 5/6;
  @include controllerRed;
}
.controller3{
  grid-column: 1/6;
  grid-row: 5/6;
  @include controllerWhite;
}
.controller4{
  grid-column: 15/20;
  grid-row: 5/6;
  @include controllerWhite;
}
.controller5{
  grid-column: 29/34;
  grid-row: 5/6;
  @include controllerWhite;
}

.ship{
  grid-column: 19/32;
  grid-row: 1/4;
  background-image: image-url("0001.png");
}

.monster{
  grid-column: 3/20;
  grid-row:4/6;
  background-image: image-url("monster_sml.png");
  z-index: 2;
  opacity: 0;
}

.monster:hover{
  opacity: 1;
}

a{
  text-decoration: none;
  color: black;
}

a:hover {
  // text-decoration: underline;
  color: white;
}

.home-button {
  position: absolute;
  top: 10px;
}

.home-button > img {
  height: 50px;
  width: 50px;
}


// SNAAK AND ROIDS BEST SCORE AREAS

.high-scores {
  display: grid;
  grid-template-columns: 1fr 250px;
  max-width: 640px;
  margin: 0 auto;
}
