@import url('https://fonts.googleapis.com/css?family=Open+Sans:700');

@mixin screen{
  border: 3px solid black;
  border-radius: 1em;
  z-index:1;
  box-shadow: 0 0 10px black;
  text-align: center;
}

@mixin controllerRed{
  background-color: red;
  z-index: 1;
  border-radius:50%;
  transform:scale(0.3,0.3);
  box-shadow: 0 0 10px black;
  border:3px solid black;
}

@mixin controllerWhite{
  background-color: white;
  z-index: 1;
  border-radius:50%;
  transform:scale(0.3,0.3);
  box-shadow: 0 0 10px black;
  border:3px solid black;
}

body{
  background-image: url("retro-wallpaper-1.jpg");
}

.container{
  width: 960px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}

h1{
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin-top: 50px;
  font-size: 50px;
}

.the-grid{
  display: grid;
  grid-template-rows: repeat(5, 100px);
}

.snake {
  grid-column: 3/11;
  grid-row: 3/5;

  background: linear-gradient(to bottom right, #404040, white);
  transform-origin: top left;
  transform: skew(-3deg,0deg);
  @include screen;
}

.border_snake{
  grid-column: 1/13;
  grid-row: 2/6;
  background-color: #1ccc1a;
  transform-origin: top left;
  transform: skew(-3deg, 0deg);
  box-shadow: 0 0 10px black;
  border-top-left-radius: 4em;
}
.pong{
  grid-column: 16/24;
  grid-row: 3/5;
  background: linear-gradient(to bottom right, #404040, white);
  @include screen;
}

.border_pong{
  grid-column: 14/27;
  grid-row: 2/6;
  background-color: #fff337;
  box-shadow: 0 0 10px black;
}

.space{
  grid-column: 30/38;
  grid-row: 3/5;
  background: linear-gradient(to bottom right, #404040, white);
  transform-origin: top right;
  transform: skew(3deg,0deg);
  @include screen;
}

.border_space{
  grid-column: 28/40;
  grid-row: 2/6;
  background-color: #4361b2;
  transform-origin: top right;
  transform: skew(3deg, 0deg);
  box-shadow: 0 0 10px black;
  border-top-right-radius: 4em;
}

.controller{
  grid-column: 35/40;
  grid-row: 5/6;
  @include controllerRed;
}

.controller1{
  grid-column: 21/26;
  grid-row: 5/6;
  @include controllerRed;
}

.controller2{
  grid-column: 7/12;
  grid-row: 5/6;
  @include controllerRed;
}
.controller3{
  grid-column: 1/6;
  grid-row: 5/6;
  @include controllerWhite;
}
.controller4{
  grid-column: 15/20;
  grid-row: 5/6;
  @include controllerWhite;
}
.controller5{
  grid-column: 29/34;
  grid-row: 5/6;
  @include controllerWhite;
}


// .ship{
//   grid-column: 23/32;
//   grid-row: 1/4;
//   background-image: url("0001.png");
// }
