.space-container h1 {
  font-family: 'Bungee Inline', cursive;
  color: #4361b2;
  text-align: center;
  // padding-bottom: 30px;
  // padding-top: 30px;
  margin: 30px;
  font-size: 60px;
}

.space-container h2 {
  @extend h1;
  font-size: 40px;
  text-align: left;
}

#space-score {
  text-align: right;
}

.space_shooter{
  background-color: rgba(40, 0, 0, 1.00); // fallback
  background-image: image-url("hook.jpg");
  background-size: cover;
  background-position-y: 100px;
  background-repeat: no-repeat;
}

#space_shooter > canvas{
  margin: 0 auto;
  max-width: 640px;
  border: 30px solid #4361b2;
  box-shadow: 0 0 10px black;
  border-top-right-radius: 4em;
}
